body {
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: sans-serif;
}
.navbar {
    color: white;
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: flex-end;
    padding: 20px;
    font-weight: 700;
  }
  
