body {
    background-color: #1c1c1c;
    color: white;
    font-family: Poppins;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-right: 20px;
    cursor: pointer;
}

li {
    list-style: none;
}
