body {
    background-color: #1c1c1c;
    color: white;
    font-family:'Poppins', sans-serif;
}

.nav-item {
    color: #1c1c1c;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-right: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.heading {
    display: inline;
    font-size: 40px;
}

.main-header {
    display: flex;
    align-items: center;
    gap:20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

.share {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.admin-login {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    align-items: center;
}

.admin-login div {
    width: 80%;
}

.admin-login input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0;
    padding: 0;
    border: 0;
}

.admin-login button {
    width: 80%;
    background-color: rgb(107, 196, 255);
    color: white;
    font-weight: 700;
    padding: 10px 0;
    border: 0;
    border-radius: 3px;
}

.upload-data input{
    height: 25px;
}

.year-input, .link-input, .link-input-2 {
    display: flex;
    width: 300px;
    justify-content:space-between;
}

.upload-data {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
}

.upload-data button {
    width: 40%;
    height: 25px;
    border: 0;
    color: white;
    font-weight: 800;
    background-color: rgb(130, 130, 255);
    margin-top: 10px;
}